body{
    background-color: #A1B57D;
    text-align: center;
}
h1{
    font-family:'Dancing Script', cursive;
    font-size: 6rem;
    color: #B33030;
    margin-bottom: 1.5rem;
}
.player{
    display: inline-block;
    padding: 2%;
    font-size: 2rem;


}
img{

    height: 10rem;
    width:10rem;
    padding-bottom: 2%;
}
.player1{
    padding-right: 1.5rem;
}
.player2{
    padding-left: 1.5rem;
}